fastapi
fastapi-users
fastapi-users-db-sqlalchemy
sqlalchemy
asyncpg
pydantic-settings
alembic
pytest
uvicorn
psycopg2-binary
asyncpg
qdrant-client
PyYAML
motor
sentence-transformers==3.3.1
torch==2.5.0
transformers>=4.47.0
tqdm>=4.67.1
torchaudio>=2.5.0             
torchvision>=0.20.0                      
redis
tokenizers
threadpoolctl
aiosmtplib
jinja2
